<launch>
  <arg name="type" default="pioneer3dx" />
  <arg name="model" value='$(find amr_robots_description)/urdf/$(arg type).urdf.xacro'/>
  
<!--

<arg name="model" value='$(find anpl_inf)/robots_description/pioneer_description/urdf/$(arg type).urdf.xacro'/>
-->
 
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <arg name="rvizconfig" default="$(find anpl_inf)/rviz/pioneer.rviz" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>

