<launch>
  <!-- send table.xml to param server -->
    <arg name="robot_name" default="pioneer1"/>
    <arg name="init_pose"/>

    <!-- load the robot description -->
    <arg name="model" default="$(find xacro)/xacro.py '$(find anpl_inf)/robots_description/pioneer_description/pioneer3at.xacro' robot_name:=$(arg robot_name)" />
    <param name="pioneer_description" command="$(arg model)" />

    <!-- Gazebo model spawner -->
    <node name="$(arg robot_name)_spawn_pionner_model" pkg="gazebo_ros" type="spawn_model"
          args="$(arg init_pose) -unpause -urdf -param pioneer_description -model $(arg robot_name)_Pioneer3at"/>

</launch>

